h1{
    margin: 2rem 0;
    text-decoration: underline;
    text-align: center;
    font-weight: 400;
}

div#user_list{
    h3{
        font-weight: 300;
        display: inline-block;
    }
    .new_user{
        position: fixed;
        right: 10rem;
    }
    width: 60rem;
    margin: 0 auto;
    #user_container{
        margin-top: 2rem;
    }
}
#create_user_card{
    margin: 0 auto;
    padding: 1.2rem;
    height: 60rem;
    width: 40rem;
    h2{
        font-weight: 300;
        margin: 1rem 0;
    }
    #close_create_user{
        position: fixed;
        right: 20.5rem;
    }
}
