h1{
    margin: 2rem 0;
    text-align: center;
}

div#user_list{
    h3{
        font-weight: 300;
        display: inline-block;
    }
    .new_user{
        position: fixed;
        right: 10rem;
    }
    width: 60rem;
    margin: 0 auto;
    #user_container{
        margin-top: 2rem;
    }
}