/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap";

$primary-font: "Open Sans", sans-serif;
$button-color: #2563eb;

* {
  margin: 0;
  padding: 0;
  font-family: 100% $primary-font;
}

//start jomari css
//for page name

//color gray-700 #374151 gray-800 #1f2937 blue-500 #3b82f6

.button-regular {
  background-color: $button-color; 
  // blue-500
  color: white;
  text-transform: capitalize;
}


.icon {
  color: #374151;
  padding: 0.3rem;
  margin-right: 0.3rem;
  size: 23rem;
}

.avatar {
  margin-right: 0.1rem;
}


.prev-title {
  font-weight: 400;
  font-size: 1rem;
  color: #374151; //gray-700
}

.divider {
  font-weight: 400;
  font-size: 2.5rem;
  color: #6b7280;
  margin: 0 0.5rem;
}
.center-dot {
  font-weight: 500;
  font-size: 2.5rem;
  color: #6b7280;
  margin: 0 0.5rem;
}

.prev-date {
  font-weight: 400;
  font-size: 1rem;
  color: #6b7280; //gray-500
  margin-right: 0.5rem;
}

//ends jomari css

.height {
  height: 10rem;
}

content {
  padding: 3rem;
  margin: 3rem;
  background-color: lightcyan;
}

.research-title {
  text-align: left;
  text-transform: capitalize;
}
#login-container {
  background-color: lightgray;
  h6 {
    font-weight: 500;
    font-size: 1.5rem;
    width: 100%;
  }
  .login-row {
    justify-content: center;
    text-align: center;
  }

  .input-field {
    margin: 1rem 0;
  }
  #login-field {
    text-align: start;
    margin: 0 auto;
    min-width: 25rem;
    min-height: 25rem;
    border-radius: 0.625rem;
    padding: 2rem;
  }

}

#main-container {
  min-height: 15.625rem;
}

div#research_table{
  text-align: center;
  margin: 0 2rem;
  h2,h4{
    margin-bottom: 1rem;
  }
  h2{
    font-size: 2rem;
  }
  h4{
    font-size: 1rem;
    font-weight: 300;
  }

}




